body.iqair-presentation {
    background-color: #ffffff;
}

body.iqair-presentation .reveal {
    color: #414141;
}

body.iqair-presentation .reveal aside.controls {
    display: none !important;
}

/*********************************************
 * DEFAULTS
 *********************************************/

h1, h2, h3, h4, h5 {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
    color: #414141 !important;
    margin-bottom: 50px !important;
}

sub {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
    font-weight: 300 !important;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
    font-weight: 300 !important;
    color: #414141 !important;
}

a {
    color: #337ab7 !important;
}

table {
    font-size: 24px;
}

table thead th {
    border: 1px solid #000000 !important;
}

table tbody tr td {
    border: 1px solid #000000 !important;
}


table p {
    text-align: center;
}

/*********************************************
 * IQAIR LOGO
 *********************************************/

body.iqair-presentation .iqair-logo-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 12px;
}

body.iqair-presentation .iqair-logo-container img {
    width: 180px;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

body.iqair-presentation .reveal .progress {
    position: absolute;
    top: 0;
    height: 5px;
    background-color: transparent;
}

body.iqair-presentation .reveal .progress span {
    background-color: #1470f6;
}

/*********************************************
 * OVERRIDES
 *********************************************/

body.iqair-presentation::selection {
    background: red;
}

.iqair-intro-image,
.iqair-image-border {
    border: 4px solid #5582ab;
    border-radius: 10px;
}

.iqair-inline {
    position: relative;
    display: inline-block;
    width: 48%;
    margin: 0;    
}

.iqair-left-align {
    text-align: left !important;
}

.iqair-center-align {
    text-align: center !important;
}

.iqair-right-align {
    text-align: right !important;
}

div.iqair-text-white h1, 
div.iqair-text-white h2, 
div.iqair-text-white h3, 
div.iqair-text-white h4, 
div.iqair-text-white h5,
div.iqair-text-white p {
    color: #ffffff !important;
}

img.iqair-emoji-image {
    width: 75px;
    margin: 0;
    padding: 0;
}
